/* WCCA 2021 Styles*/

/* --------- Estilos Generales ------------------------------- */
/* --------- Paleta de Colores -------------------------------

    --global--CR_Red: #dc0000;
    --global--NC_Blue: #0f0f6d;
    --global--PN_Blue: #285bd4;
    --global--BL-Turquoise: #79e8e2;
    --global--CA_Black: #1e1e2c;
    --global--CA_White: #fbf8ef;
    --global--CA_Cream: #eed6bb;
    --global--GT_Yellow: #f8ad1e;
    --global--ES_Pink: #f24f8a;
    --global--HN_Orange: #DA7D46;
*/

/* --------- Tipograf铆as ------------------------------- */
body, .entry-content, .menu-item a, .powered-by, li,
.tix_tickets_table th {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6,
.singular .entry-title,
.page-title,
#tix p input {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.wp-block-button__link {
    font-family: 'Poppins', sans-serif!important;
    font-weight: 900!important;
    font-size: 1.5em!important;
}

/* --------- Estilos Inicio ------------------------------- */
/**Men煤**/
li#menu-item-1185 a {
    color: black;
}

li#menu-item-1185 {
    display: block;
    background-color: #f8ad1e;
}

/**General**/
.page-id-882 .entry-header {
    display: none;
}

.hero-wcca, .anuncio-wcca, .asisti-al-wordcamp, .div-wcca, .lo-hacen-posible, .seccion-noticias {
    margin-bottom: 4em;
}

section#blog_subscription-4 {
    display: none;
}

.home section#blog_subscription-4 {
    display: block; /**Mostrar solo en la p谩gina Inicio**/
}

/**Secci贸n: Lo hacen posible**/
.by-column {
    background: #79e8e2;
    padding: 1em;
}

.by-column figure {
    max-width: 150px;
}

.by-column .wp-block-button__link {
    color: #1e1e2c!important;
    border-color: #1e1e2c!important;
}

.by-column .wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):not(.has-text-color):hover {
    background: #1e1e2c!important;
    color: #79e8e2!important;
}

.lo-hacen-posible a.wp-block-button__link {
    font-size: 1.25em!important;
}

/**Secci贸n: Noticias**/
.wp-block-latest-posts__post-excerpt {
    font-family: 'Poppins', sans-serif!important;
}

.latest-news li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-decoration: none;
}

.wp-block-latest-posts.is-grid li {
    margin: 0 0 1.25em 0;
}

@media (min-width: 600px) {
    .wp-block-latest-posts.columns-2 li {
	   width: calc(50% - 2.5em);
    }
    .wp-block-latest-posts.is-grid li {
	   margin: 0 5em 1.25em 0;
    }
}





/* --------- Estilos Ponentes ------------------------------- */
.page-id-8 .avatar {
	border-radius: 50%;
	margin-top: 5px;
	border: 4px solid #8ce8e1;
	background-color: #8ce8e1;
}

.page-id-8 .wordcamp-speaker.wordcamp-speakers__post {
	position: relative;
}

.page-id-8 .wordcamp-image__avatar-container.align-center {
	position: absolute;
	top: -105px;
	left: 25%;
	right: 25%;
}

.page-id-8 .wordcamp-post-list__post {
	border: 3px solid #fff;
	padding: 115px 1em 1em;
	margin-bottom: 2em;
	box-shadow: 10px 10px 0 #fff;
}

.page-id-8 ul.wordcamp-block.wordcamp-post-list {
	padding-left: 0;
}

.page-id-8 .wordcamp-speakers__title {
    margin-bottom: 10px;
}

.page-id-8 .wordcamp-speakers__title a,
.page-id-8 .wordcamp-speakers__title a:focus {
    background: #eeaa46;
    padding: 5px 20px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.75em;
}

.page-id-8 .wordcamp-speakers__title a:hover {
    text-decoration: dotted;
}

.page-id-8 .wordcamp-speakers__sessions {
	display: inline-grid;
	margin-top: 10px;
	background: url(https://centroamerica.wordcamp.org/2021/files/2021/02/separador-wcca.png) no-repeat;
    background-position: right;
    width: 100%;
}

.wordcamp-block__item-content.wordcamp-speakers__content.is-excerpt p {
	display: inline-grid;
}

.page-id-8 .wordcamp-block__item-content.wordcamp-speakers__content.is-excerpt {
    border-bottom: 3px dotted #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.page-id-8 .wordcamp-speakers__sessions-heading:before {
	content: '';
	padding-right: 5px;
}

.page-id-8 .slug-leandro-gomez .wordcamp-speakers__sessions-heading:before,
.page-id-8 .slug-lidia-arroyo-v .wordcamp-speakers__sessions-heading:before,
.page-id-8 .slug-mario-rocha .wordcamp-speakers__sessions-heading:before {
	content: ' Sesiones';
}

.single-wcb_speaker .entry-content, .single-wcb_speaker .entry-content p, .single-wcb_speaker .speaker-avatar,
.single-wcb_speaker .entry-footer, .single-wcb_speaker #comments {
    max-width: 1240px!important;
}

.single-wcb_speaker .speaker-avatar img {
    border-radius: 50%;
    border: 4px solid #8ce8e1;
    background-color: #8ce8e1;
}

.single-wcb_speaker #speaker-session-names {
    padding-left: 0;
}

.single-wcb_speaker #speaker-session-names:before {
  content: 'Sesi贸n:';
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/**ESCONDER ENCABEZADO UNA SOLA SESIN**/
.single-wcb_speaker h2.speaker-sessions {
    display: none;
}

/**ESCONDER SPEAKER WP CENTROAMRICA**/
ul.wordcamp-block.wordcamp-post-list li:nth-child(8) {
	display: none;
}

/* --------- Estilos Sesiones ------------------------------- */
.page-id-9 ul.wordcamp-post-list {
    padding-left: 0;
}

.page-id-9 .wordcamp-post-list__post {
    border: 3px solid #fff;
    padding: 1em;
    margin-bottom: 2em;
    box-shadow: 10px 10px 0 #fff;
}

.page-id-9 .wordcamp-sessions__time-location {
    background: #fff;
    color: #1e1e2c;
    display: inline-block;
    padding: 5px 15px;
    margin-top: 1em;
}

.single-wcb_session .entry-content {
    max-width: 1240px;
    margin: 0 auto;
}

.single-wcb_session p {
    max-width: 1240px!important;
}

.single-wcb_session #session-speaker-names {
    padding-left: 0;
}

.single-wcb_session #session-speaker-names:before {
    content: 'Presentado por:';
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.single-wcb_session .entry-footer {
    max-width: 1240px;
}

/**ESCONDER ENCABEZADO EN SESIONES DE UN SOLO PONENTE**/
.single-wcb_session h2.session-speakers {
    display: none;
}

/* --------- Estilos Patrocinadores ------------------------------- */
@media only screen and (min-width: 1024px) {
    .widget-area {
	   grid-template-columns: 1fr);
    }
}

@media only screen and (min-width: 652px) {
    .widget-area {
	   grid-template-columns: 1fr;
    }
}

#wcb_sponsors-3 {
    background: #fff;
    padding: 4em 0;
}

#wcb_sponsors-3 h2 {
    color: #000;
    text-align: center;
    padding-bottom: 1em;
}

.wcb_widget_sponsors .sponsor-logo img {
    padding-top: 2em;
}

section#wcb_sponsors-3:after {
    display: flex;
    content: url(https://centroamerica.wordcamp.org/2021/files/2021/02/separador-wcca.png);
    justify-content: center;
    padding-top: 2em;
}

h4.sponsor-level-title {
    margin-top: 1em;
}

/**TELICA**/
.sponsor-level.telica {
    grid-template-columns: repeat(2,1fr);
    display: grid;
    column-gap: calc(2 * var(--global--spacing-horizontal));
    justify-items: center;
}

.telica h4.sponsor-level-title {
    grid-column: 1/3;
    color: #000;
    border-bottom: 3px solid #000;
    width: 100%;
    text-align: center;
    padding-bottom: 12px;
    font-size: 2em;
}

.telica h4.sponsor-level-title:before {
    content: url(https://centroamerica.wordcamp.org/2021/files/2021/02/volcan-telica.png);
    display: block;
    margin-bottom: 10px;
}

.sponsor-level.telica a img {
    max-width: 400px!important;
    height: auto!important;
    min-height: 100px !important;/*FIXME*/
}

@media only screen and (max-width: 652px) {
    .sponsor-level.telica {
		grid-template-columns: 1fr;
		column-gap: 0;
		padding: 0 1em;
	}
	.telica h4.sponsor-level-title {
	    grid-column: 1/2;
	}

}

/**ARENAL**/
.sponsor-level.arenal {
    grid-template-columns: repeat(3,1fr);
    display: grid;
    column-gap: calc(2 * var(--global--spacing-horizontal));
    justify-items: center;
}

.arenal h4.sponsor-level-title {
    grid-column: 1/4;
    color: #000;
    border-bottom: 2px solid #000;
    width: 100%;
    text-align: center;
    padding-bottom: 12px;
    font-size: 2em;
}

.arenal h4.sponsor-level-title:before {
    content: url(https://centroamerica.wordcamp.org/2021/files/2021/02/volcan-arenal.png);
    display: block;
    margin-bottom: 10px;
}

.sponsor-level.arenal a img {
    max-width: 300px!important;
    width: auto!important;
    height: auto!important;
    min-height: 100px !important;/*FIXME*/
}

@media only screen and (max-width: 652px) {
    .sponsor-level.arenal {
	   grid-template-columns: 1fr;
	column-gap: 0;
	   padding: 0 1em;
	}
}

/**IZALCO**/
.sponsor-level.izalco {
    grid-template-columns: repeat(4,1fr);
    display: grid;
    column-gap: calc(2 * var(--global--spacing-horizontal));
    justify-items: center;
}

.izalco h4.sponsor-level-title {
    grid-column: 1/5;
    color: #000;
    border-bottom: 2px solid #000;
    width: 100%;
    text-align: center;
    padding-bottom: 12px;
    font-size: 2em;
}

.izalco h4.sponsor-level-title:before {
    content: url(https://centroamerica.wordcamp.org/2021/files/2021/02/volcan-izalco.png);
    display: block;
    margin-bottom: 10px;
}

.sponsor-level.izalco a img {
    max-width: 200px !important;
    height: auto!important;
    min-height: 80px !important;/*FIXME*/
}

@media only screen and (max-width: 652px) {
    .sponsor-level.izalco {
	   grid-template-columns: 1fr;
	column-gap: 0;
	   padding: 0 1em;
	}
}

/**Full width a sponsors**/
aside.widget-area {
    position: fixed;
    display: contents;
}

.sponsor-level.telica,
.sponsor-level.arenal,
.sponsor-level.izalco {
    max-width: 1240px;/**Mismo ancho que tema**/
    margin: 0 auto;
}

/**CSS Temporal para caja de suscripci贸n**/
section#blog_subscription-4 {
    width: 50%;
    justify-self: center;
}

section#blog_subscription-4 {
    max-width: 1200px;
    margin: 0 auto;
}

@media only screen and (max-width: 652px) {
section#blog_subscription-4 {
    width: 100%;
   }
}

.home section#blog_subscription-4 {
    display: block;
    margin-bottom: 4em;
}

form#subscribe-blog-blog_subscription-4 {
    display: flex;
}

#subscribe-email {
    width: calc(100% - 180px);
}

#subscribe-submit button {
    background: transparent;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1.305em;
    padding: 0.5em 1em;
    border: 3px solid #fff;
}

#subscribe-submit button:hover {
    background: #fff;
    color: #1e1e2c;
}

@media only screen and (max-width: 480px) {

    form#subscribe-blog-blog_subscription-4 {
	   display: block;
    }

    #subscribe-email {
	   width: 100%;
	margin-bottom: 1em;
    }

}

/* --------- Estilos Agenda ------------------------ */
.wordcamp-schedule__column-header {
    background-color: #f8ad1e!important;
}

.wordcamp-schedule__column-header.is-column-time {
    color: #f8ad1e!important;
}

.wordcamp-schedule__day {
	background-color: transparent !important;
}

span.wordcamp-schedule__column-header {
	color: #1e1e2c !important;
}

.wordcamp-schedule__date:nth-of-type(2) {
	margin-top: 1em;
}

#wordcamp-schedule__session-1870 h4,
#wordcamp-schedule__session-1894 h4,
#wordcamp-schedule__session-1901 h4,
#wordcamp-schedule__session-1924 h4,
#wordcamp-schedule__session-1936 h4,
#wordcamp-schedule__session-1938 h4,
#wordcamp-schedule__session-1972 h4,
#wordcamp-schedule__session-1974 h4,
#wordcamp-schedule__session-2022 h4,
#wordcamp-schedule__session-2033 h4,
#wordcamp-schedule__session-2037 h4,
#wordcamp-schedule__session-2040 h4,
#wordcamp-schedule__session-2048 h4,
#wordcamp-schedule__session-2050 h4,
#wordcamp-schedule__session-2052 h4,
#wordcamp-schedule__session-2054 h4,
#wordcamp-schedule__session-2113 h4 {
	justify-content: center;
}

#wordcamp-schedule__session-1901 dd,
#wordcamp-schedule__session-1924 dd,
#wordcamp-schedule__session-1938 dd,
#wordcamp-schedule__session-1974 dd,
#wordcamp-schedule__session-2037 dd,
#wordcamp-schedule__session-2040 dd,
#wordcamp-schedule__session-2050 dd,
#wordcamp-schedule__session-2054 dd {
	display: none;
}

dl.wordcamp-schedule__session-speakers dd {
	padding-left: 0;
}

h2.wordcamp-schedule__date:nth-of-type(2) {
	margin-top: 1em;
}

/**Ocultar link to slides**/
.session-video {
	display: none;
}

/**BANDERA DE ARGENTINA**/
#wordcamp-schedule__session-1892 dl.wordcamp-schedule__session-speakers dd a:after,
#wordcamp-schedule__session-1964 dl.wordcamp-schedule__session-speakers dd a:after,
#wordcamp-schedule__session-2024 dl.wordcamp-schedule__session-speakers dd a:after {
	content: '';
	padding-left: 5px;
}

/**BANDERA DE COLOMBIA**/
#wordcamp-schedule__session-1920 dl.wordcamp-schedule__session-speakers dd:nth-of-type(2) a:after,
#wordcamp-schedule__session-2272 dl.wordcamp-schedule__session-speakers dd:nth-of-type(2) a:after {
	content: '';
	padding-left: 5px;
}

/**BANDERA DE COSTA RICA**/
#wordcamp-schedule__session-1866 dl.wordcamp-schedule__session-speakers dd a:after,
#wordcamp-schedule__session-1870 dl.wordcamp-schedule__session-speakers dd:nth-of-type(2) a:after,
#wordcamp-schedule__session-1968 dl.wordcamp-schedule__session-speakers dd a:after,
#wordcamp-schedule__session-2013 dl.wordcamp-schedule__session-speakers dd:first-of-type a:after,
#wordcamp-schedule__session-2026 dl.wordcamp-schedule__session-speakers dd a:after,
#wordcamp-schedule__session-2044 dl.wordcamp-schedule__session-speakers dd:first-of-type a:after,
#wordcamp-schedule__session-2048 h4 a:after,
#wordcamp-schedule__session-2107 dl.wordcamp-schedule__session-speakers dd a:after,
#wordcamp-schedule__session-2113 dl.wordcamp-schedule__session-speakers dd:nth-of-type(2) a:after,
#wordcamp-schedule__session-2173 dl.wordcamp-schedule__session-speakers dd a:after,
#wordcamp-schedule__session-2272 dl.wordcamp-schedule__session-speakers dd:first-of-type a:after {
	content: '';
	padding-left: 5px;
}

/**BANDERA DE EL SALVADOR**/
#wordcamp-schedule__session-1936 h4 a:after,
#wordcamp-schedule__session-1958 dl.wordcamp-schedule__session-speakers dd a:after,
#wordcamp-schedule__session-1964 dl.wordcamp-schedule__session-speakers dd:first-of-type a:after {
	content: '葛';
	padding-left: 5px;
}

/**BANDERA DE ESPAA**/
#wordcamp-schedule__session-1888 dl.wordcamp-schedule__session-speakers dd a:after,
#wordcamp-schedule__session-1920 dl.wordcamp-schedule__session-speakers dd:nth-of-type(3) a:after,
#wordcamp-schedule__session-1930 dl.wordcamp-schedule__session-speakers dd a:after,
#wordcamp-schedule__session-1947 dl.wordcamp-schedule__session-speakers dd a:after,
#wordcamp-schedule__session-1951 dl.wordcamp-schedule__session-speakers dd a:after,
#wordcamp-schedule__session-2020 dl.wordcamp-schedule__session-speakers dd a:after,
#wordcamp-schedule__session-2167 dl.wordcamp-schedule__session-speakers dd a:after,
#wordcamp-schedule__session-2272 dl.wordcamp-schedule__session-speakers dd:nth-of-type(3) a:after {
	content: '';
	padding-left: 5px;
}

/**BANDERA DE EE.UU.**/
#wordcamp-schedule__session-2022 dl.wordcamp-schedule__session-speakers dd a:after {
	content: '吼';
	padding-left: 5px;
}

/**BANDERA DE GUATEMALA**/
#wordcamp-schedule__session-1894 h4 a:after {
	content: '';
	padding-left: 5px;
}

/**BANDERA DE HONDURAS**/
#wordcamp-schedule__session-1972 h4 a:after {
	content: '';
	padding-left: 5px;
}

/**BANDERA DE NICARAGUA**/
#wordcamp-schedule__session-1870 dl.wordcamp-schedule__session-speakers dd:nth-of-type(3) a:after,
#wordcamp-schedule__session-1912 dl.wordcamp-schedule__session-speakers dd a:after,
#wordcamp-schedule__session-2017 dl.wordcamp-schedule__session-speakers dd:first-of-type a:after,
#wordcamp-schedule__session-2031 dl.wordcamp-schedule__session-speakers dd:first-of-type a:after,
#wordcamp-schedule__session-2033 h4 a:after,
#wordcamp-schedule__session-2113 dl.wordcamp-schedule__session-speakers dd:nth-of-type(3) a:after,
#wordcamp-schedule__session-2179 dl.wordcamp-schedule__session-speakers dd:first-of-type a:after,
#wordcamp-schedule__session-2278 dl.wordcamp-schedule__session-speakers dd:nth-of-type(2) a:after,
#wordcamp-schedule__session-2285 dl.wordcamp-schedule__session-speakers dd:first-of-type a:after {
	content: '仇';
	padding-left: 5px;
}

/**BANDERA DE PANAM**/
#wordcamp-schedule__session-1934 dl.wordcamp-schedule__session-speakers dd a:after,
#wordcamp-schedule__session-2052 h4 a:after,
#wordcamp-schedule__session-2278 dl.wordcamp-schedule__session-speakers dd:first-of-type a:after {
	content: '叼';
	padding-left: 5px;
}

/**BANDERA DE URUGUAY**/
#wordcamp-schedule__session-1870 dl.wordcamp-schedule__session-speakers dd:first-of-type a:after,
#wordcamp-schedule__session-1964 dl.wordcamp-schedule__session-speakers dd:nth-of-type(2) a:after,
#wordcamp-schedule__session-1990 dl.wordcamp-schedule__session-speakers dd:first-of-type a:after,
#wordcamp-schedule__session-2028 dl.wordcamp-schedule__session-speakers dd:first-of-type a:after,
#wordcamp-schedule__session-2100 dl.wordcamp-schedule__session-speakers dd:first-of-type a:after,
#wordcamp-schedule__session-2113 dl.wordcamp-schedule__session-speakers dd:first-of-type a:after {
	content: '吼';
	padding-left: 5px;
}

/**BANDERA DE VENEZUELA**/
#wordcamp-schedule__session-1920 dl.wordcamp-schedule__session-speakers dd:first-of-type a:after {
	content: '火';
	padding-left: 5px;
}

/**IMPORTANTE: NO DUPLICAR BANDERA**/
.wcb-session-favourite-icon a:after {
	display: none;
}

/* --------- Estilos Asistentes ------------------------ */

#tix-attendees li {
	height: 308px;
	background: url('https://centroamerica.wordcamp.org/2021/files/2021/03/asistente-back.png') no-repeat center center;
}

#tix-attendees .avatar {
	float: none;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	margin: 105px calc(50% - 42.5px) 0;
	border: 5px solid #1e1e2c;
	background-color: #1e1e2c;
}

#tix-attendees .tix-field {
	margin-left: 0;
	text-align: center;
}

.tix-field.tix-attendee-name {
	font-weight: 900;
}

span.tix-first,
span.tix-last {
	display: block;
}

#tix-attendees ul {
    padding-left: 0;
}

@media only screen and (max-width: 782px) {

#tix-attendees .tix-columns-4 li {
    width: 50%;
  }

}

@media only screen and (max-width: 482px) {

#tix-attendees .tix-columns-4 li {
    width: 100%;
  }

}

/* --------- Estilos Asistentes ------------------------ */
.page-id-12 .wordcamp-organizer.wordcamp-organizers__post {
    position: relative;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}

.page-id-12 .wordcamp-organizers__title {
    background: #eeaa46;
    padding: 5px 20px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    position: absolute;
    bottom: -45px;
}

.page-id-12 .wordcamp-image__avatar-container img {
    border-radius: 50%;
}

/* --------- Estilos Actividades Sociales ------------------------ */
.social-15-abril, .social-16-abril {
	font-size: .85em;
}

.social-15-abril td:nth-of-type(1),
.social-16-abril td:nth-of-type(1) {
	justify-content: center;
	text-align: center;
	min-width: 120px;
}

.social-15-abril th,
.social-16-abril th {
	background: #f8ad1e;
	color: #1e1e2c;
	border: 1px solid #fff;
	font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 480px) {
	.social-15-abril td:nth-of-type(1) {
		grid-column: hora;
	}

	.social-15-abril td:nth-of-type(2) {
		grid-column: actividad;
	}

	.social-15-abril tr,
	.social-16-abril tr {
		grid-column: hora;
		display: grid;
	}

.social-15-abril td:nth-of-type(1),
.social-16-abril td:nth-of-type(1) {
	background: #f8ad1e;
	color: #1e1e2c;
	border: 1px solid #fff;
	}

.social-15-abril th,
.social-16-abril th {
display: none;
}

}


/* --------- Estilos Codigo de Conducta ------------------------ */





/* --------- Estilos Camptix ------------------------------- */
/**Fix r谩pido para https://github.com/Automattic/camptix/issues/137**/
#tix p {
    margin: 1em 0!important;
}

@media only screen and (max-width: 480px) {
    #tix form {
	   overflow-x: auto;
    }
}
