/* WCCA 2021 Styles*/

/* --------- Estilos Generales ------------------------------- */
:root{
    --global--BL-Turquoise: #79e8e2;
}

/* --------- Estilos Inicio ------------------------------- */
li#menu-item-903 a {
    color: black;
}

li#menu-item-903 {
    display: block;
    background-color: var(--global--BL-Turquoise);
}









/* --------- Estilos Ponentes ------------------------------- */














/* --------- Estilos Codigo de Conducta ------------------------ */












