/* WCCA 2021 Styles*/

/* --------- Estilos Generales ------------------------------- */
/* --------- Paleta de Colores ------------------------------- 

    --global--CR_Red: #dc0000;
    --global--NC_Blue: #0f0f6d;
    --global--PN_Blue: #285bd4;
    --global--BL-Turquoise: #79e8e2;
    --global--CA_Black: #1e1e2c;
    --global--CA_White: #fbf8ef;
    --global--CA_Cream: #eed6bb;
    --global--GT_Yellow: #f8ad1e;
    --global--ES_Pink: #f24f8a;
    --global--HN_Orange: #DA7D46;
*/

/* --------- Tipografías ------------------------------- */
body, .entry-content, .menu-item a, .powered-by, li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6,
.singular .entry-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.wp-block-button__link {
    font-family: 'Poppins', sans-serif!important;
    font-weight: 900!important;
    font-size: 1.5em!important;
}

/* --------- Estilos Inicio ------------------------------- */
/**Menú**/
li#menu-item-903 a {
    color: black;
}

li#menu-item-903 {
    display: block;
    background-color: #79e8e2;
}

/**General**/
.page-id-882 .entry-header {
    display: none;
}

/**Sección: Lo hacen posible**/
.by-column {
    background: #79e8e2;
    padding: 1em;
}

.by-column figure {
    max-width: 150px;
}

.by-column .wp-block-button__link {
    color: #1e1e2c!important;
    border-color: #1e1e2c!important;
}

.by-column .wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):not(.has-text-color):hover {
    background: #1e1e2c!important;
    color: #79e8e2!important;
}

/**Sección: Noticias**/
.wp-block-latest-posts__post-excerpt {
    font-family: 'Poppins', sans-serif!important;
}

.latest-news li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-decoration: none;
}







/* --------- Estilos Ponentes ------------------------------- */














/* --------- Estilos Codigo de Conducta ------------------------ */












